<div class="card">
    <img [src]="heroe.img" class="card-img-top" [alt]="heroe.nombre">
    <div class="card-body">
        <h5 class="card-title">{{heroe.nombre}}</h5>
        <p class="card-text">{{heroe.bio}}</p>
        <p class="card-text"><small class="text-muted">{{heroe.aparicion}}</small></p>
        <!-- 2 OPCIONES DE CREAR EL BOTON -->
        
        <!-- /heroe para indicar que la ruta es desde la raiz (absoluta), si ponemos heroe directamente, lo interpretaria como /herores/heroe/id ya que es un ruta relatriva-->
        <!--<button [routerLink]="[ '/heroe', i ]" type="button" class="btn btn-outline-primary btn-block"> 
            Ver más...
        </button>-->

        <button (click)="verHeroe()" type="button" class="btn btn-outline-primary btn-block"> 
        Ver más...
        </button>
        
    </div>
</div>