<h4>Formularios <small> Template </small></h4>
<p>La configuracion se hace en mayor parte del lado del formulario HTML</p>
<hr>
<form autocomplete="off" (ngSubmit)="guardar(form)" #form="ngForm">

  <div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Nombre</label>
      <div class="col-8">

        <input class="form-control"
               [ngClass]="{'is-invalid':nombre.invalid && nombre.touched}"
               type="text"
               name="nombre"
               [ngModel]="usuario.nombre"
               placeholder="Nombre"
               required
               minlength="2"
               #nombre="ngModel">
        <small 
            *ngIf="nombre.invalid && nombre.touched"
            class="form-text text-danger">El campo debe tener almenos 2 caracteres</small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-2 col-form-label">Apellido</label>
      <div class="col-8">

        <input class="form-control"
               type="text"
               name="apellido"
               [ngClass]="{'is-invalid':apell.invalid && apell.touched}"
               [ngModel]="usuario.apellido"
               required
               minlength="2"
               placeholder="Apellido"
               #apell="ngModel">

        <small 
            *ngIf="apell.invalid && apell.touched"
            class="form-text text-danger">El campo debe tener almenos 2 caracteres</small>
      </div>
    </div>

  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">Correo</label>
    <div class="col-8">

      <input class="form-control"
             type="email"
             name="correo"
             [ngClass]="{'is-invalid':correo.invalid && correo.touched}"
             [ngModel]="usuario.email"
             placeholder="Correo electrónico"
             required
             pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
             #correo="ngModel">

        <small 
            *ngIf="correo.invalid && correo.touched"
            class="form-text text-danger">Debes introducir un email válido</small>
    </div>
  </div>

  <div class="form-group row">
    <label class="col-2 col-form-label">País</label>
    <div class="col-8">

      <select
        name="pais"
        class="form-control"
        [disabled]="paises.length == 0"
        [ngModel] ="usuario.pais"
        [ngClass]="{'is-invalid':pais.invalid && pais.touched}"
        required
        #pais="ngModel">

          <option *ngFor="let p of paises" [value]="p.codigo">{{p.nombre}}</option>

      </select>

      <small 
            *ngIf="pais.invalid && pais.touched"
            class="form-text text-danger">Seleccione un país</small>
    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">Género</label>
    <div class="col-8">

        <div class="form-check form-check-inline">
            <input 
                type="radio"
                name="genero"
                class="form-check-input"
                [ngClass]="{'is-invalid':genero.invalid && genero.touched}"
                value="m"
                [ngModel]="usuario.genero"
                required
                #genero="ngModel">
            <label class="form-check-label">Maculino</label>
        </div>
        <div class="form-check form-check-inline">
            <input 
                type="radio"
                class="form-check-input"
                [ngClass]="{'is-invalid':genero.invalid && genero.touched}"
                name="genero"
                value="f"
                [ngModel]="usuario.genero"
                required
                #genero="ngModel">
            <label class="form-check-label">Femenino</label>
        </div>

    </div>
  </div>


  <div class="form-group row">
    <label class="col-2 col-form-label">&nbsp;</label>
    <div class="input-group col-md-8">
      <button type="submit" class="btn btn-outline-primary btn-block">
        Guardar
      </button>
    </div>
  </div>

</form>
