<div class="animated fadeIn fast contentMain">
    <h1>Sobre esta página</h1>
    <hr>
    <p>
        Pagina para el curso de Angular desde 0.<br><br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem suscipit doloribus itaque eaque ducimus porro, aperiam accusamus repellendus non cum ullam, sequi iste quas optio saepe voluptates! Omnis, beatae atque! <br>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat necessitatibus provident corporis dolorum inventore quas, cumque quibusdam et animi? Modi quidem corporis obcaecati? Incidunt, rem necessitatibus exercitationem qui quia id.
    </p>
</div>
